@font-face {
    font-family: 'segoe';
    src: url('./fonts/segoe-ui-black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}
/*******************************************HOME PAGE******************************************************/
.Container {
    display: flex;
    height: 100vh;
    text-align: center;
    background-color: #222831;
    font-size: 16px;
    padding: 0 25px;
    color: #EEEEEE;
    text-align: center;
}
.ContentBox {
    align-self: center;
    width: 100%;
    font-family: 'segoe', sans-serif;
}
.ContentBox > img {
    width: 100%;
}
.RegButton {
    background-color: #fef43c; /* #FF5722 #2D4059*/
    border-radius: 5px;
    margin-top: 20px;
    padding: 10px;
    font-size: 20px;
}
.RegButton > a {
    text-decoration: none;
    color: #2D4059;
    cursor: pointer;
    display: block;
}
/*********************************************LIST PAGE*****************************************************/
.ListContainer {
    padding: 0 25px;
    background-color: #EEEEEE;
    color: #2D4059;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    height: 100vh;
    font-family: 'segoe', sans-serif;
}
.Sort > img {
    width: 32px;
    height: 32px;
    vertical-align: middle;
}
.ListContainer > ul {
    text-align: left;
    margin: 0 auto;
}
.ListContainer > ul > li {
    list-style-type: none;
    margin-top: 15px;
}
.ListContainer > ul > li > p > img, .ListContainer > ul > li > img {
    width: 32px;
    height: 32px;
    margin-left: 5px;
    vertical-align: sub;
}
.BackArrow {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 34px;
    cursor: pointer;
    background-color: #222831;
    width: 100%;
    color: white;
}
.BackArrow > p {
    margin: 10px;
}
.BackArrow > p > span {
    font-style: italic;
    font-family: sans-serif;
    color: #fef43c;
}
/***********************************************SEARCH PAGE************************************************/
.ListContainer > input {
    border: 2px solid #2D4059;
    border-radius: 15px;
    padding: 15px;
    outline: none;
}
.ListContainer > input:focus {
    border: 2px solid #222831;
}
.Error {
    margin-top: 30px;
    color: #fe493cef;
}
