@font-face {
    font-family: 'segoe';
    src: url('./fonts/segoe-ui-black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

* {
    margin: 0;
    padding: 0;
}
/*******************************************HOME PAGE******************************************************/
.Container {
    display: flex;
    height: 100vh;
    text-align: center;
    background-color: #222831;
    font-size: 16px;
    padding: 25px;
    color: #EEEEEE;
    text-align: center;
}
.ContentBox {
    align-self: center;
    width: 100%;
}
.ContentBox > img {
    width: 100%;
}
.ContentBox {
    font-family: 'segoe', sans-serif;
}
.RegButton {
    background-color: #FF5722; /* #FF5722 */
    color: #EEEEEE;
    border-radius: 5px;
    margin-top: 20px;
    padding: 10px;
    font-size: 20px;
}
.RegButton > a {
    text-decoration: none;
    color: white;
}
/*********************************************LIST PAGE*****************************************************/
.ListContainer {
    padding: 0 25px;
    background-color: #EEEEEE;
    color: #2D4059;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    height: 100vh;
    font-family: 'segoe', sans-serif;
    text-align: center;
}
.Sort > img {
    width: 32px;
    height: 32px;
    vertical-align: middle;
}
.ListContainer > ul {
    text-align: center;
}
.ListContainer > ul > li {
    list-style-type: none;
    margin-top: 15px;
}
.ListContainer > ul > li > img {
    width: 32px;
    height: 32px;
    margin-left: 5px;
    vertical-align: middle;
}
.Pagination {
    margin-top: 25px;
    text-align: center;
}
.Arrow {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
}
.Arrow > img {
    width: 32px;
    height: 32px;
    vertical-align: middle;
}
.BackArrow {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 34px;
    cursor: pointer;
}
/***********************************************SEARC PAGE************************************************/
.ListContainer > input {
    border: 2px solid #2D4059;
    border-radius: 15px;
    padding: 15px;
    outline: none;
}
.ListContainer > input:focus {
    border: 2px solid #FF5722;
}
